<p>
  <b>Producer:</b>
  <%=h @washing_machine.producer %>
</p>

<p>
  <b>Product:</b>
  <%=h @washing_machine.product %>
</p>

<p>
  <b>Brand:</b>
  <%=h @washing_machine.brand %>
</p>

<p>
  <b>Model:</b>
  <%=h @washing_machine.model %>
</p>

<p>
  <b>Rpm:</b>
  <%=h @washing_machine.rpm %>
</p>

<p>
  <b>Efficiency:</b>
  <%=h @washing_machine.efficiency %>
</p>

<p>
  <b>Consume:</b>
  <%=h @washing_machine.consume %>
</p>

<p>
  <b>Washing efficiency:</b>
  <%=h @washing_machine.washing_efficiency %>
</p>

<p>
  <b>Spin efficiency:</b>
  <%=h @washing_machine.spin_efficiency %>
</p>

<p>
  <b>Capacity:</b>
  <%=h @washing_machine.capacity %>
</p>

<p>
  <b>Consume kg:</b>
  <%=h @washing_machine.consume_kg %>
</p>

<p>
  <b>Consume water:</b>
  <%=h @washing_machine.consume_water %>
</p>

<p>
  <b>Height:</b>
  <%=h @washing_machine.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @washing_machine.width %>
</p>

<p>
  <b>Deep:</b>
  <%=h @washing_machine.deep %>
</p>

<p>
  <b>Termoefficiency:</b>
  <%=h @washing_machine.termoefficiency %>
</p>


<%= link_to 'Edit', edit_washing_machine_path(@washing_machine) %> |
<%= link_to 'Back', washing_machines_path %>