<h1 id="slogan">Encuentra electrodomésticos energéticamente eficientes y ahorra dinero</h1>

<div id="intro">
  <h2>Busca un electrodoméstico (lavadora, frigorífico, lavavajillas...)</h2>
	<% form_tag search_appliances_path, :id => 'main_search', :class => "top_form" do %>
      <p>
	  <%= text_field_tag 'q', '',  :class => 'text shadow' %>
	  <%= submit_tag 'Buscar', :class => "submit large grana awesome" %>
      </p>
	<% end %>		
</div>

<div class="col2 first">

  <h2><%= link_to Dishwasher.human_name, dishwashers_path, :title => t('general.search', :item => Dishwasher.human_name) %></h2>
  <ul>
    <% if @dishwashers.any? %>
        <% @dishwashers.each do |appliance_instance| %>
            <li><%= link_to appliance_instance.appliance_title, appliance_instance %></li>
        <% end -%>
    <% else %>
        <li><%= "No hemos recuperado ningún #{Dishwasher.human_name}" %></li>
    <% end -%>
  </ul>
</div>

<div class="col2">

  <h2><%= link_to Dryer.human_name, dryers_path, :title => t('general.search', :item => Dryer.human_name) %></h2>
  <ul>
    <% if @dryers.any? %>
        <% @dryers.each do |appliance_instance| %>
            <li><%= link_to appliance_instance.appliance_title, appliance_instance %></li>
        <% end -%>
    <% else %>
        <li><%= "No hemos recuperado ningún #{Dryer.human_name}" %></li>
    <% end -%>
  </ul>
</div>

<div class="col2 first">

  <h2><%= link_to Freezer.human_name, freezers_path, :title => t('general.search', :item => Freezer.human_name) %></h2>
  <ul>
    <% if @freezers.any? %>
        <% @freezers.each do |appliance_instance| %>
            <li><%= link_to appliance_instance.appliance_title, appliance_instance %></li>
        <% end -%>
    <% else %>
        <li><%= "No hemos recuperado ningún #{Freezer.human_name}" %></li>
    <% end -%>
  </ul>
</div>

<div class="col2">

  <h2><%= link_to Fridge.human_name, fridges_path, :title => t('general.search', :item => Fridge.human_name) %></h2>
  <ul>
    <% if @fridges.any? %>
        <% @fridges.each do |appliance_instance| %>
            <li><%= link_to appliance_instance.appliance_title, appliance_instance %></li>
        <% end -%>
    <% else %>
        <li><%= "No hemos recuperado ningún #{Fridge.human_name}" %></li>
    <% end -%>
  </ul>
</div>

<div class="col2 first">

  <h2><%= link_to FridgeFreezer.human_name, fridge_freezers_path, :title => t('general.search', :item => FridgeFreezer.human_name) %></h2>
  <ul>
    <% if @fridge_freezers.any? %>
        <% @fridge_freezers.each do |appliance_instance| %>
            <li><%= link_to appliance_instance.appliance_title, appliance_instance %></li>
        <% end -%>
    <% else %>
        <li><%= "No hemos recuperado ningún #{FridgeFreezer.human_name}" %></li>
    <% end -%>
  </ul>
</div>


<div class="col2">

  <h2><%= link_to Oven.human_name, ovens_path, :title => t('general.search', :item => Oven.human_name) %></h2>
  <ul>
    <% if @ovens.any? %>
        <% @ovens.each do |appliance_instance| %>
            <li><%= link_to appliance_instance.appliance_title, appliance_instance %></li>
        <% end -%>
    <% else %>
        <li><%= "No hemos recuperado ningún #{Oven.human_name}" %></li>
    <% end -%>
  </ul>
</div>

<div class="col2 first">

  <h2><%= link_to WasherDryer.human_name, washer_dryers_path, :title => t('general.search', :item => WasherDryer.human_name) %></h2>
  <ul>
    <% if @washer_dryers.any? %>
        <% @washer_dryers.each do |appliance_instance| %>
            <li><%= link_to appliance_instance.appliance_title, appliance_instance %></li>
        <% end -%>
    <% else %>
        <li><%= "No hemos recuperado ningún #{WasherDryer.human_name}" %></li>
    <% end -%>
  </ul>
</div>

<div class="col2">

  <h2><%= link_to WashingMachine.human_name, washing_machines_path, :title => t('general.search', :item => WashingMachine.human_name) %></h2>
  <ul>
    <% if @washing_machines.any? %>
        <% @washing_machines.each do |appliance_instance| %>
            <li><%= link_to appliance_instance.appliance_title, appliance_instance %></li>
        <% end -%>
    <% else %>
        <li><%= "No hemos recuperado ningún #{WashingMachine.human_name}" %></li>
    <% end -%>
  </ul>
</div>

