<h1 id="slogan"><%= t('ovens.index.h1') %></h1>

<div id="intro">
  <% form_for @search, :html => {:id => "oven_search", :class => "top_form"} do |f| %>
      <p class="select_field">
        <label for="search_consume_range_is"><%= Oven.human_attribute_name(:consume) %></label><br/>
        <%= f.select :consume_range_is, consume_range_options_for_oven, {:include_blank => t('general.prompt')}, {:size => 5} %>
      </p>

      <p class="select_field">
        <label for="search_volume_range_is"><%= Oven.human_attribute_name(:volumne) %></label><br/>
        <%= f.select :volume_range_is, volume_range_options_for_oven, {:include_blank => t('general.prompt')}, {:size => 5} %>
      </p>

      <p class="select_field">
        <label for="search_warming_is"><%= Oven.human_attribute_name(:warming) %></label><br/>
        <%= f.collection_select :warming_is, Oven.warming_options, :warming, :warming, {:include_blank => t('general.prompt')}, {:size => 5} %>
      </p>

      <p class="select_field">
        <%= f.submit t('general.search', :item => Oven.human_name), :id => 'submit_oven', :class => 'submit large grana awesome' %>
      </p>
  <% end %>
</div>

<table>
  <summary>Resultados de la búsqueda</summary>
  <theader>
    <tr>
      <th><%= order @search, :by => :brand, :as => Oven.human_attribute_name(:brand) %></th>
      <th><%= order @search, :by => :model, :as => Oven.human_attribute_name(:model) %></th>
      <th><%= order @search, :by => :efficiency, :as => Oven.human_attribute_name(:efficiency) %></th>
      <th><%= order @search, :by => :consume, :as => Oven.human_attribute_name(:consume) %></th>
      <th><%= order @search, :by => :volume, :as => Oven.human_attribute_name(:volume) %></th>
      <th><%= order @search, :by => :warming, :as => Oven.human_attribute_name(:warming) %></th>
      <th><%= order @search, :by => :heigth, :as => Oven.human_attribute_name(:height) %></th>
      <th><%= order @search, :by => :width, :as => Oven.human_attribute_name(:width) %></th>
      <th><%= order @search, :by => :deep, :as => Oven.human_attribute_name(:deep) %></th>
    </tr>
  </theader>
  <tbody>
  <% @ovens.each do |oven| %>
      <tr>
        <td><%= oven.brand %></td>
        <td><%= oven.model %></td>
        <td>
          <div class="rating_bar">
            <div style="width:<%= rating_to_percentage(oven.efficiency) %>"></div>
          </div>
        </td>
        <td class="number"><%= number_with_precision(oven.consume, :precision => 2) %></td>
        <td class="number"><%= number_with_precision(oven.volume, :precision => 2) %></td>
        <td><%= oven.warming %></td>
        <td class="number"><%= oven.height %></td>
        <td class="number"><%= oven.width %></td>
        <td class="number"><%= oven.deep %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @ovens %>
