<p>
  <b>Producer:</b>
  <%=h @oven.producer %>
</p>

<p>
  <b>Product:</b>
  <%=h @oven.product %>
</p>

<p>
  <b>Brand:</b>
  <%=h @oven.brand %>
</p>

<p>
  <b>Type:</b>
  <%=h @oven.type %>
</p>

<p>
  <b>Efficiency:</b>
  <%=h @oven.efficiency %>
</p>

<p>
  <b>Consume:</b>
  <%=h @oven.consume %>
</p>

<p>
  <b>Volume:</b>
  <%=h @oven.volume %>
</p>

<p>
  <b>Warming:</b>
  <%=h @oven.warming %>
</p>

<p>
  <b>Height:</b>
  <%=h @oven.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @oven.width %>
</p>

<p>
  <b>Deep:</b>
  <%=h @oven.deep %>
</p>


<%= link_to 'Edit', edit_oven_path(@oven) %> |
<%= link_to 'Back', ovens_path %>