<h1 id="slogan">Busca el lavavajillas más eficiente del mercado</h1>

<div id="intro">
  <% form_for @search, :html => { :id => 'dishwasher_search', :class => 'top_form' } do |f| %>
	  <p class="select_field">
      <%= f.label Dishwasher.human_attribute_name(:efficiency) %>
      <%= f.collection_select :drying_efficiency_eq, Dishwasher.efficiency_options, :drying_efficiency, :drying_efficiency, {:include_blank => t('general.prompt')}, {:size => 5} %>
    </p>
    <p class="select_field">
      <%= f.label Dishwasher.human_attribute_name(:cutlery) %>
      <%= f.collection_select :cutlery_eq, Dishwasher.cutlery_options, :cutlery, :cutlery, {:include_blank => t('general.prompt')}, {:size => 5} %>
    </p>
    <p class="select_field">
      <%= f.label Dishwasher.human_attribute_name(:water_consume) %>
      <%= f.collection_select :water_consume_eq, Dishwasher.water_consume_options, :water_consume, :water_consume, {:include_blank => t('general.prompt')}, {:size => 5} %>
    </p>
    <p class="select_field">
      <%= f.submit t('general.search', :item => Dishwasher.human_name), :id => 'submit_cars', :class => 'submit large grana awesome' %>
    </p>
  <% end %>
</div>
<%= comparator_section(t('.dishwashers_selected', :count => session['dishwashers'].try(:size) || 0), 'dishwasher') %>

<h3>Hemos encontrado</h3>

<table>
  <summary>Resultados de la búsqueda</summary>
  <tr>
    <th><%= order @search, :by => :brand, :as => Dishwasher.human_attribute_name(:brand) %></th>
    <th><%= order @search, :by => :model, :as => Dishwasher.human_attribute_name(:model) %></th>
    <th><%= order @search, :by => :drying_efficiency, :as => Dishwasher.human_attribute_name(:efficiency) %></th>
    <th><%= order @search, :by => :consume, :as => Dishwasher.human_attribute_name(:consume) %></th>
    <th><%= order @search, :by => :cutlery, :as => Dishwasher.human_attribute_name(:cutlery) %></th>
    <th><%= order @search, :by => :water_consume, :as => Dishwasher.human_attribute_name(:water_consume) %></th>
    <th><%= order @search, :by => :height, :as => Dishwasher.human_attribute_name(:height) %></th>
    <th><%= order @search, :by => :width, :as => Dishwasher.human_attribute_name(:width) %></th>
    <th><%= order @search, :by => :deep, :as => Dishwasher.human_attribute_name(:deep) %></th>
    <th>&nbsp;</th>
  </tr>
  <% @dishwashers.each do |dishwasher| %>
    <tr class="<%= cycle("even", "odd", :name => "row_class") %>">
      <td><%= dishwasher.brand %></td>
      <td><%= dishwasher.model %></td>
      <td>
        <div class="rating_bar">
          <div style="width:<%= rating_to_percentage(dishwasher.drying_efficiency) %>"></div>
        </div>
      </td>
      <td class="number"><%= dishwasher.consume %></td>
      <td class="number"><%= dishwasher.cutlery %></td>
      <td class="number"><%= dishwasher.water_consume %></td>
      <td class="number"><%= dishwasher.height %></td>
      <td class="number"><%= dishwasher.width %></td>
      <td class="number"><%= dishwasher.deep %></td>
      <td><%= comparator_link(dishwasher) %></td>
    </tr>
  <% end -%>
</table>
<%= will_paginate @dishwashers %>
