<p>
  <b>Producer:</b>
  <%=h @dishwasher.producer %>
</p>

<p>
  <b>Product:</b>
  <%=h @dishwasher.product %>
</p>

<p>
  <b>Brand:</b>
  <%=h @dishwasher.brand %>
</p>

<p>
  <b>Model:</b>
  <%=h @dishwasher.model %>
</p>

<p>
  <b>Efficiency:</b>
  <%=h @dishwasher.efficiency %>
</p>

<p>
  <b>Consume:</b>
  <%=h @dishwasher.consume %>
</p>

<p>
  <b>Washing efficiency:</b>
  <%=h @dishwasher.washing_efficiency %>
</p>

<p>
  <b>Drying efficiency:</b>
  <%=h @dishwasher.drying_efficiency %>
</p>

<p>
  <b>Cutlery:</b>
  <%=h @dishwasher.cutlery %>
</p>

<p>
  <b>Water consume:</b>
  <%=h @dishwasher.water_consume %>
</p>

<p>
  <b>Height:</b>
  <%=h @dishwasher.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @dishwasher.width %>
</p>

<p>
  <b>Deep:</b>
  <%=h @dishwasher.deep %>
</p>

<p>
  <b>Termoefficiency:</b>
  <%=h @dishwasher.termoefficiency %>
</p>


<%= link_to 'Edit', edit_dishwasher_path(@dishwasher) %> |
<%= link_to 'Back', dishwashers_path %>