<p>
  <b>Producer:</b>
  <%=h @worktop_induction.producer %>
</p>

<p>
  <b>Product:</b>
  <%=h @worktop_induction.product %>
</p>

<p>
  <b>Brand:</b>
  <%=h @worktop_induction.brand %>
</p>

<p>
  <b>Model:</b>
  <%=h @worktop_induction.model %>
</p>

<p>
  <b>Type:</b>
  <%=h @worktop_induction.type %>
</p>

<p>
  <b>Total torchs:</b>
  <%=h @worktop_induction.total_torchs %>
</p>

<p>
  <b>Inductio torchs:</b>
  <%=h @worktop_induction.inductio_torchs %>
</p>

<p>
  <b>Width ext:</b>
  <%=h @worktop_induction.width_ext %>
</p>

<p>
  <b>Deep ext:</b>
  <%=h @worktop_induction.deep_ext %>
</p>

<p>
  <b>Width ins:</b>
  <%=h @worktop_induction.width_ins %>
</p>

<p>
  <b>Deep ins:</b>
  <%=h @worktop_induction.deep_ins %>
</p>

<p>
  <b>Power torchs:</b>
  <%=h @worktop_induction.power_torchs %>
</p>

<p>
  <b>Power induction torchs:</b>
  <%=h @worktop_induction.power_induction_torchs %>
</p>


<%= link_to 'Edit', edit_worktop_induction_path(@worktop_induction) %> |
<%= link_to 'Back', worktop_inductions_path %>