<h1 id="slogan"><%= t('fridges.index.h1') %></h1>

<div id="intro">
  <% form_for @search, :html => {:id => "fridge_search", :class => "top_form"} do |f| %>
    <p class="select_field">
      <%= f.label :efficiency_eq, Fridge.human_attribute_name(:efficiency) %>
      <%= f.collection_select :efficiency_eq, Fridge.efficiency_options, :efficiency, :efficiency, {:include_blank => t('general.prompt')}, {:size => 5, :tabindex => 1} %>
    </p>
    <p class="select_field">
      <%= f.label :consume_range_is, Fridge.human_attribute_name(:consume) %>
      <%= f.select :consume_range_is, consume_range_options_for_fridge, {:include_blank => t('general.prompt')}, {:size => 5, :tabindex => 2} %>
    </p>
    <p class="select_field">
      <%= f.label :froost_eq, Fridge.human_attribute_name(:froost) %>
      <%= f.select :froost_eq, Fridge.froost_options, { :selected => selected_for_boolean( @search.froost_eq ) ,:include_blank => t('general.prompt')}, {:size => 5, :tabindex => 3} %>
    </p>

    <p class="select_field">
      <%= submit_tag t('fridges.search_button'), :class => "submit large grana awesome", :tabindex => 4%>
    </p>
  <% end %>
</div>

<h3><%= t('.h3_results') %></h3>

<%= comparator_section Fridge %>
<table>
  <caption>Resultados de la búsqueda</caption>
  <tr>
    <th><%= order @search, :by => :product, :as => Fridge.human_attribute_name(:product) %></th>
    <th><%= order @search, :by => :brand, :as => Fridge.human_attribute_name(:brand) %></th>
    <th><%= order @search, :by => :model, :as => Fridge.human_attribute_name(:model) %></th>
    <th><%= order @search, :by => :efficiency, :as => Fridge.human_attribute_name(:efficiency) %></th>
    <th><%= order @search, :by => :consume, :as => Fridge.human_attribute_name(:consume) %></th>
    <th><%= order @search, :by => :height, :as => Fridge.human_attribute_name(:height) %></th>
    <th><%= order @search, :by => :width, :as => Fridge.human_attribute_name(:width) %></th>
    <th><%= order @search, :by => :deep, :as => Fridge.human_attribute_name(:deep) %></th>
    <th><%= order @search, :by => :froost, :as => Fridge.human_attribute_name(:froost) %></th>
    <th>&nbsp;</th>
  </tr>

<% @fridges.each do |fridge| %>
  <tr class="<%= cycle("even", "odd", :name => "row_class") %>">
    <td><%=h fridge.product %></td>
    <td><%=h fridge.brand %></td>
    <td><%=h fridge.model %></td>
    <td>
      <div class="rating_bar">
        <div style="width:<%=h fridge.efficiency %>%"></div>
      </div>
    </td>
    <td><%=h fridge.consume %></td>
    <td><%=h fridge.height %></td>
    <td><%=h fridge.width %></td>
    <td><%=h fridge.deep %></td>
    <td><%=h fridge.froost ? t('general.yes') : t('general.no') %></td>
    <td><%= comparator_link(fridge)%></td>
  </tr>
<% end %>
</table>

<%= will_paginate @freezers %>
