<p>
  <b>Producer:</b>
  <%=h @fridge.producer %>
</p>

<p>
  <b>Product:</b>
  <%=h @fridge.product %>
</p>

<p>
  <b>Brand:</b>
  <%=h @fridge.brand %>
</p>

<p>
  <b>Model:</b>
  <%=h @fridge.model %>
</p>

<p>
  <b>Efficiency:</b>
  <%=h @fridge.efficiency %>
</p>

<p>
  <b>Consume:</b>
  <%=h @fridge.consume %>
</p>

<p>
  <b>Height:</b>
  <%=h @fridge.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @fridge.width %>
</p>

<p>
  <b>Deep:</b>
  <%=h @fridge.deep %>
</p>

<p>
  <b>Froost:</b>
  <%=h @fridge.froost %>
</p>


<%= link_to 'Edit', edit_fridge_path(@fridge) %> |
<%= link_to 'Back', fridges_path %>