<h1 id="slogan"><%= t('dryers.index.h1') %></h1>

<div id="intro">
  <% form_for @search, :html => {:id => "dryer_search", :class => "top_form"} do |f| %>
      <p class="select_field">
        <label for="search_efficiency_is"><%= Dryer.human_attribute_name(:efficiency) %></label><br/>
        <%= f.collection_select :efficiency_is, Dryer.efficiency_options, :efficiency, :efficiency, {:include_blank => t('general.prompt')}, {:size => 5} %>
      </p>

      <p class="select_field">
        <label for="search_consume_range_is"><%= Dryer.human_attribute_name(:consume) %></label><br/>
        <%= f.select :consume_range_is, consume_range_options_for_dryer, {}, :size => "5" %>
      </p>

      <p class="select_field">
        <label for="search_capacity_is"><%= Dryer.human_attribute_name(:capacity) %></label><br/>
        <%= f.collection_select :capacity_is, Dryer.capacity_options, :capacity, :capacity, {:include_blank => t('general.prompt')}, {:size => 5} %>
      </p>

      <p class="select_field">
        <%= f.submit t('general.search', :item => Dryer.human_name), :id => 'submit_dryers', :class => 'submit large grana awesome' %>
      </p>
  <% end %>
</div>

<table>
  <summary>Resultados de la búsqueda</summary>
  <theader>
    <tr>
      <th><%= order @search, :by => :brand, :as => Dryer.human_attribute_name(:brand) %></th>
      <th><%= order @search, :by => :model, :as => Dryer.human_attribute_name(:model) %></th>
      <th><%= order @search, :by => :model, :as => Dryer.human_attribute_name(:efficiency) %></th>
      <th><%= order @search, :by => :model, :as => Dryer.human_attribute_name(:consume) %></th>
      <th><%= order @search, :by => :model, :as => Dryer.human_attribute_name(:capacity) %></th>
      <th><%= order @search, :by => :model, :as => Dryer.human_attribute_name(:consume_kg) %></th>
      <th><%= order @search, :by => :model, :as => Dryer.human_attribute_name(:heigth) %></th>
      <th><%= order @search, :by => :model, :as => Dryer.human_attribute_name(:width) %></th>
      <th><%= order @search, :by => :model, :as => Dryer.human_attribute_name(:deep) %></th>
    </tr>
  </theader>
  <tbody>

  <% @dryers.each do |dryer| %>
      <tr class="<%= cycle("even", "odd", :name => "row_class") %>">
        <td><%= dryer.brand %></td>
        <td><%= dryer.model %></td>
        <td>
          <div class="rating_bar">
            <div style="width:<%= rating_to_percentage(dryer.efficiency) %>"></div>
          </div>
        </td>
        <td class="number"><%= number_to_precision(dryer.consume, :precision => 2) %></td>
        <td class="number"><%= dryer.capacity %></td>
        <td class="number"><%= dryer.consume_kg %></td>
        <td class="number"><%= dryer.height %></td>
        <td class="number"><%= dryer.width %></td>
        <td class="number"><%= dryer.deep %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @dryers %>
