<h1>Listing dryers</h1>

<table>
  <tr>
    <th>Producer</th>
    <th>Product</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Efficiency</th>
    <th>Consume</th>
    <th>Capacity</th>
    <th>Consume kg</th>
    <th>Height</th>
    <th>Width</th>
    <th>Deep</th>
  </tr>

<% @dryers.each do |dryer| %>
  <tr>
    <td><%=h dryer.producer %></td>
    <td><%=h dryer.product %></td>
    <td><%=h dryer.brand %></td>
    <td><%=h dryer.model %></td>
    <td><%=h dryer.efficiency %></td>
    <td><%=h dryer.consume %></td>
    <td><%=h dryer.capacity %></td>
    <td><%=h dryer.consume_kg %></td>
    <td><%=h dryer.height %></td>
    <td><%=h dryer.width %></td>
    <td><%=h dryer.deep %></td>
    <td><%= link_to 'Show', dryer %></td>
    <td><%= link_to 'Edit', edit_dryer_path(dryer) %></td>
    <td><%= link_to 'Destroy', dryer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dryer', new_dryer_path %>