<p>
  <b>Producer:</b>
  <%=h @dryer.producer %>
</p>

<p>
  <b>Product:</b>
  <%=h @dryer.product %>
</p>

<p>
  <b>Brand:</b>
  <%=h @dryer.brand %>
</p>

<p>
  <b>Model:</b>
  <%=h @dryer.model %>
</p>

<p>
  <b>Efficiency:</b>
  <%=h @dryer.efficiency %>
</p>

<p>
  <b>Consume:</b>
  <%=h @dryer.consume %>
</p>

<p>
  <b>Capacity:</b>
  <%=h @dryer.capacity %>
</p>

<p>
  <b>Consume kg:</b>
  <%=h @dryer.consume_kg %>
</p>

<p>
  <b>Height:</b>
  <%=h @dryer.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @dryer.width %>
</p>

<p>
  <b>Deep:</b>
  <%=h @dryer.deep %>
</p>


<%= link_to 'Edit', edit_dryer_path(@dryer) %> |
<%= link_to 'Back', dryers_path %>