<p>
  <b>Producer:</b>
  <%=h @freezer.producer %>
</p>

<p>
  <b>Product:</b>
  <%=h @freezer.product %>
</p>

<p>
  <b>Brnand:</b>
  <%=h @freezer.brnand %>
</p>

<p>
  <b>Model:</b>
  <%=h @freezer.model %>
</p>

<p>
  <b>Consume:</b>
  <%=h @freezer.consume %>
</p>

<p>
  <b>Height:</b>
  <%=h @freezer.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @freezer.width %>
</p>

<p>
  <b>Froost:</b>
  <%=h @freezer.froost %>
</p>


<%= link_to 'Edit', edit_freezer_path(@freezer) %> |
<%= link_to 'Back', freezers_path %>