<p>
  <b>Producer:</b>
  <%=h @worktop_ga.producer %>
</p>

<p>
  <b>Product:</b>
  <%=h @worktop_ga.product %>
</p>

<p>
  <b>Brand:</b>
  <%=h @worktop_ga.brand %>
</p>

<p>
  <b>Model:</b>
  <%=h @worktop_ga.model %>
</p>

<p>
  <b>Type:</b>
  <%=h @worktop_ga.type %>
</p>

<p>
  <b>Total torchs:</b>
  <%=h @worktop_ga.total_torchs %>
</p>

<p>
  <b>Width ext:</b>
  <%=h @worktop_ga.width_ext %>
</p>

<p>
  <b>Deep ext:</b>
  <%=h @worktop_ga.deep_ext %>
</p>

<p>
  <b>Width ins:</b>
  <%=h @worktop_ga.width_ins %>
</p>

<p>
  <b>Deep ins:</b>
  <%=h @worktop_ga.deep_ins %>
</p>

<p>
  <b>Power radiant torchs:</b>
  <%=h @worktop_ga.power_radiant_torchs %>
</p>


<%= link_to 'Edit', edit_worktop_ga_path(@worktop_ga) %> |
<%= link_to 'Back', worktop_gas_path %>