<h1 id="slogan">Encuentra productos energéticamente eficientes y ahorra dinero</h1>

<div id="intro">
  <h2>Busca un coche, electrodoméstico (lavadora, frigorífico, lavavajillas...)</h2>
	<form id="car_search" class="top_form">
    <label for="gasoline">Combustible</label><br />
    <select id="gasoline" name"gasoline">
      <option value="G">Gasolina</option>
      <option value="D">Gasóleo/Diesel</option>
    <select>
  </form>
</div>

<h3>Resultados de la búsqueda</h3>

<table>
  <tr>
    <th>Brand</th>
    <th>Model</th>
    <th>Diesel</th>
    <th>Consumption</th>
    <th>Emission</th>
    <th>Rating</th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%=h car.brand %></td>
    <td><%=h car.model %></td>
    <td><%=h car.diesel %></td>
    <td><%=h car.consumption %></td>
    <td><%=h car.emission %></td>
    <td><%=h car.rating %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Destroy', car, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New car', new_car_path %>