<h1 id="slogan"><%= t('cars.index.h1') %></h1>

<div id="intro">
  <% form_for @search, :html => {:id => "car_search", :class => "top_form"} do |f| %>
      <p class="select_field">
        <label for="fuel"><%= Car.human_attribute_name('fuel') %></label><br/>
        <%= f.select :fuel_is, [['Gasolina', 'Gasolina'], ['Gasóleo/Diesel', 'Gasóleo']], {}, :size => "5" %>
      </p>

      <p class="select_field">
        <label for="gear"><%= Car.human_attribute_name('gear') %></label><br/>
        <%= f.select :gear_is, [['Manual', 'Manual'], ['Automático', 'Automático'], ['Otros', 'Otros']], {}, :size => "5" %>
      </p>

      <p class="select_field">
        <label for="seats"><%= Car.human_attribute_name('seats') %></label><br/>
        <%= f.select :seats_range_is, seats_range_options_for_car, {}, :size => "5" %>
      </p>

      <p class="select_field">
        <label for="consume"><%= Car.human_attribute_name('consume') %></label><br />
        <%= f.select :consume_range_is, consume_range_options_for_car, {}, :size => 5%>
      </p>

      <p class="select_field">
        <%= submit_tag t('cars.search_button'), :class => "submit large grana awesome"%>
      </p>
  <% end %>
</div>

<h3><%= t('.h3_results') %></h3>

<table id="cars-results">
  <summary>Resultados de la búsqueda</summary>
  <theader>
    <tr>
      <th><%= order @search, :by => :brand, :as => Car.human_attribute_name(:brand) %></th>
      <th><%= order @search, :by => :finish, :as => Car.human_attribute_name(:finish) %></th>
      <th><%= order @search, :by => :fuel, :as => Car.human_attribute_name(:fuel) %></th>
      <th><%= order @search, :by => :consume, :as => Car.human_attribute_name(:consume) %></th>
      <th><%= order @search, :by => :emissions, :as => Car.human_attribute_name(:emissions) %></th>
      <th><%= order @search, :by => :rating, :as => Car.human_attribute_name(:rating)%></th>
      <th>&nbsp;</th>
    </tr>
  </theader>
  <tbody>
    <% @cars.each do |car| -%>
      <tr class="<%= cycle("even", "odd", :name => "row_class") %>">
        <td><%= car.brand %></td>
        <td><%= link_to [car.model,car.finish].join(' '), car %></td>
        <td><%= car.fuel %></td>
        <td class="number"><%= number_with_precision(car.consume, :precision => 2) %></td>
        <td class="number"><%= number_with_precision(car.emissions, :precision => 0) %></td>
        <td>
          <div class="rating_bar">
            <div style="width:<%= rating_to_percentage(car.rating) %>"></div>
          </div>
        </td>
        <td><%= comparator_link(car) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= comparator_section(t('.cars_selected', :count => session['cars'].try(:size) || 0), 'car') %>
<!--
<div id="comparator">
  <h3><%= t('.h3_comparator') %></h3>
    <p><%= t('.cars_selected', :count => session['cars'].try(:size) || 0 )%></p>
    <%= link_to t('.comparator'), comparator_path(:klass => 'car') %>
</div>
-->
<div id="gas-prices">
  <h3><%= t('.h3_gas_prices') %></h3>

  <p><span class="title"><%= t('general.gas.super_95') %>:</span> <%= number_to_currency Car.oil_prices[OilFetcher::SUPER_95] %></p>
  <p><span class="title"><%= t('general.gas.super_98') %>:</span> <%= number_to_currency Car.oil_prices[OilFetcher::SUPER_98] %></p>
  <p><span class="title"><%= t('general.gas.gasoil_a') %>:</span> <%= number_to_currency Car.oil_prices[OilFetcher::GASOLEO_A] %></p>

  <p><span class="small-print"><%= t('.gas_prices_small_print', :date => I18n.l(Date.today)) %></span></p>
</div>

<%= will_paginate @cars %>
