<h1 id="slogan"><%= @car.full_model %></h1>

<div id="content">

	<div id="main">
	
    <h2><%= t('.h2_main') %></h2>
		
		<table>
      <caption><%= t('.summary')%></caption>
		  <thead>
  		  <tr>
          <th><%= t('.column_name') %></th>
          <th><%= t('.column_value') %></th>
  		  </tr>
  		</thead>
  		<tbody>
        <% Car.columns.each do |column| %>
          <% tr_class = cycle('', ' class="even"') %>
          <% unless ['created_at', 'updated_at'].include? column.name %>
            <tr <%= tr_class %>>
              <td><%= Car.human_attribute_name(column.name) %></td>
              <td><%= @car.read_attribute(column.name) %></td>
            </tr>
          <% end %>
        <% end %>
  		</tbody>
  	</table>

	</div>

  <div id="side">
	
    <h2><%= t('.h2_side')%></h2>
    	
    <h3><%= link_to t('.h3_back_to_search'), root_path %></h3>
    <h3><%= comparator_link(@car, nil, :class =>'comparate-option') %></h3>
    <h3><%= link_to t('.h3_print'), '#' %></h3>
  	<a id="ck_email" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/email.gif" alt="Enviar por email" /></a>
    <a id="ck_facebook" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/facebook.gif" alt="Publicar en Facebook" /></a>
    <a id="ck_twitter" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/twitter.gif" alt="Publicar en Twitter" /></a>
    <a id="ck_sharethis" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/sharethis.gif" alt="Compartir esta página" /><%=t('.share_this') %></a>
    <script type="text/javascript">
    	var shared_object = SHARETHIS.addEntry({
    	title: document.title,
    	url: document.location.href
    });

    shared_object.attachButton(document.getElementById("ck_sharethis"));
    shared_object.attachChicklet("email", document.getElementById("ck_email"));
    shared_object.attachChicklet("facebook", document.getElementById("ck_facebook"));
    shared_object.attachChicklet("twitter", document.getElementById("ck_twitter"));
    </script>
    
	
  </div>

</div>
