<h1>New fridge_freezer</h1>

<% form_for(@fridge_freezer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :producer %><br />
    <%= f.text_field :producer %>
  </p>
  <p>
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </p>
  <p>
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :efficiency %><br />
    <%= f.text_field :efficiency %>
  </p>
  <p>
    <%= f.label :consume %><br />
    <%= f.text_field :consume %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :deep %><br />
    <%= f.text_field :deep %>
  </p>
  <p>
    <%= f.label :froost %><br />
    <%= f.check_box :froost %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', fridge_freezers_path %>