<p>
  <b>Producer:</b>
  <%=h @fridge_freezer.producer %>
</p>

<p>
  <b>Product:</b>
  <%=h @fridge_freezer.product %>
</p>

<p>
  <b>Brand:</b>
  <%=h @fridge_freezer.brand %>
</p>

<p>
  <b>Model:</b>
  <%=h @fridge_freezer.model %>
</p>

<p>
  <b>Efficiency:</b>
  <%=h @fridge_freezer.efficiency %>
</p>

<p>
  <b>Consume:</b>
  <%=h @fridge_freezer.consume %>
</p>

<p>
  <b>Height:</b>
  <%=h @fridge_freezer.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @fridge_freezer.width %>
</p>

<p>
  <b>Deep:</b>
  <%=h @fridge_freezer.deep %>
</p>

<p>
  <b>Froost:</b>
  <%=h @fridge_freezer.froost %>
</p>


<%= link_to 'Edit', edit_fridge_freezer_path(@fridge_freezer) %> |
<%= link_to 'Back', fridge_freezers_path %>