<p>
  <b>Producer:</b>
  <%=h @washer_dryer.producer %>
</p>

<p>
  <b>Product:</b>
  <%=h @washer_dryer.product %>
</p>

<p>
  <b>Brand:</b>
  <%=h @washer_dryer.brand %>
</p>

<p>
  <b>Model:</b>
  <%=h @washer_dryer.model %>
</p>

<p>
  <b>Rpm:</b>
  <%=h @washer_dryer.rpm %>
</p>

<p>
  <b>Efficiency:</b>
  <%=h @washer_dryer.efficiency %>
</p>

<p>
  <b>Consume:</b>
  <%=h @washer_dryer.consume %>
</p>

<p>
  <b>Washing consume:</b>
  <%=h @washer_dryer.washing_consume %>
</p>

<p>
  <b>Washing efficiency:</b>
  <%=h @washer_dryer.washing_efficiency %>
</p>

<p>
  <b>Washing capacity:</b>
  <%=h @washer_dryer.washing_capacity %>
</p>

<p>
  <b>Drying capacity:</b>
  <%=h @washer_dryer.drying_capacity %>
</p>

<p>
  <b>Consume kg:</b>
  <%=h @washer_dryer.consume_kg %>
</p>

<p>
  <b>Water consume:</b>
  <%=h @washer_dryer.water_consume %>
</p>

<p>
  <b>Height:</b>
  <%=h @washer_dryer.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @washer_dryer.width %>
</p>

<p>
  <b>Deep:</b>
  <%=h @washer_dryer.deep %>
</p>

<p>
  <b>Termoefficiency:</b>
  <%=h @washer_dryer.termoefficiency %>
</p>


<%= link_to 'Edit', edit_washer_dryer_path(@washer_dryer) %> |
<%= link_to 'Back', washer_dryers_path %>