<h1 id="slogan">Encuentra productos energéticamente eficientes y ahorra dinero</h1>

<div id="intro">
  <h2>Busca un coche, electrodoméstico (lavadora, frigorífico, lavavajillas...)</h2>
	<% form_tag search_public_path, :id => 'main_search', :class => "top_form" do %>
	  <p>
	    <%= text_field_tag 'q', '',  :class => 'text shadow' %>
	    <%= submit_tag 'Buscar', :class => "submit large grana awesome" %>
	  </p>
	<% end %>		
</div>

<div class="col2 first">

	<h2><%= link_to "Top Electrodomésticos", appliances_path %></h2>
  <ul>
    <% @top_appliances.each do |appliance| %>
        <li><%= appliance.class.human_name %> <%= link_to appliance.appliance_title, appliance %></li>
    <% end %>
  </ul>
	
</div>

<div class="col2">

	<h2><%= link_to "Top Coches", cars_path %></h2>	
	<ul>
	  <% @cars.each do |car| %>
	    <li><%= link_to "#{car.brand} #{car.model} #{car.finish}", car_path(car) %></li>
	  <% end %>
	</ul>
	
</div>